@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

.app {
  text-align: center;
  font-family: Poppins;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-container {
  position: absolute;
  top: 20px;
  right: 10px;
}

.title-input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.add-title {
  height: 20px;
  padding: 10px;
  outline: none;
  border-radius: 0;
  border: 1px solid #9e9e9e;
}

.grid-main {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.grid-child {
  border: 2px solid #212121;
}

.grid-child:hover {
  background-color: #9e9e9e;
  cursor: pointer;
}

.goback {
  position: absolute;
  top: 20px;
  left: 10px;
}